h2{
    background-color: red;
    color: white;
    text-align: center;
    padding: 40px;
    margin-bottom: 0;
    
}

.nav{
    background-color: blue;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 5px;
    font-weight: 500;
    font-size: large;
    margin: 0%;
    
}

.box1{
    background-color: yellow;
    float: left;
    width: 30%;
    height: 200px;
    margin-top: 0;
    text-align: center;
    padding-top: 20%;
    /* align-items: center;
    justify-content: center; */
}

.box2{
    background-color:rgb(247, 244, 244);
    /* float: left; */
    width: 70%vh;
    height: 200px;
    margin-top: 0;
    text-align: center;
    padding-top: 20%;
}

.footer{
    background-color: gray;
    text-align: center;
    padding: 30px;
    margin-top: 0%;
}